
@{
    ViewBag.Title = "Employee List";
}

<h2>Employee List</h2>

<table id="myTable" class="display">
    <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Age</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Age</th>
            <th>Salary</th>
        </tr>
    </tfoot>
</table>

<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css" rel="stylesheet" />
@section scripts
{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "ajax": {
                "url" : "/Employee/GetList",
                "type": "GET",
                "dataType": "json"
            },
                "columns": [
                    { "data": "Name" },
                    { "data": "Position" },
                    { "data": "Age" },
                    { "data": "Salary" }
                ]
            });
        });
        </script>
}
